/* --- 1. VARIABLES --- */
$c-dark-blue: #112C50;
$c-blue-header-claro:rgba(255, 255, 255, 0.1);
$c-beige-bg: #F1F0EA;
$c-white: #FFFFFF;
$c-light-gray: #F5F5F5;
$c-accent-blue: #126F8D;
$c-btn-orange: #C55A26;
$c-btn-gold: #E3BE86;
$c-text-main: #000000;
$c-sky-blue:rgb(185, 202, 222);
$c-blue-formulario:#597081;
$c-gray-formulario:#D9D9D9;


$font-serif: 'Reckless Neue', serif;
$font-sans: 'Neue Montreal', sans-serif;


@mixin linea-decoracion {
  position: relative;
  padding-top: 20px;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 64px;
    height: 8px;
    background-color: $c-accent-blue;
  }
}

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;
  background-color: $c-beige-bg;
  color: $c-text-main;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* Botones */
.btn {
  display: inline-block;
  padding: 15px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-align: center;
  cursor: pointer;
 
  &.primary {
    background-color: $c-btn-gold;
    color: $c-text-main;
  }

  &.secondary {
    background-color: $c-btn-orange;
    color: $c-light-gray;
  }

  &.formulario {
    border-radius: 30px;
    padding: 13px 30px;
    color: $c-text-main;
    border: 1px solid $c-text-main;
  }
  
  
}

header.hero {

  background-image: url('../assets/img/header-background.jpg');
  background-repeat: no-repeat;
  color: $c-beige-bg;
  padding-bottom: 80px;
  position: relative;
  
  .top-bar {
    background-color: $c-dark-blue;
    padding: 10px 0;
    border-bottom: 1px solid $c-blue-header-claro;
    font-size: 14px;

    &-content {
        @include grid-12;
        
        // Sobrescribimos el display para alinear los hijos directos
        display: flex; 
        align-items: center; 
        grid-column: 1 / -1; 

        > a:first-child {
        margin-right: auto;
        // Esto hace que el email se quede a la izquierda y empuje
        // a los idiomas y al teléfono hacia la derecha del todo.
            }
        }
    }

    nav {
        @include grid-12;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 60px;

        .logo {
        grid-column: 1 / 4;
        }

        .nav-links {
        grid-column: 6 / 13;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        list-style: none;

        a {
            font-weight: 700;
            color: $c-light-gray;
        }
        }
    }

    .hero-content {
        @include grid-12;
        
        > h1, .hero-buttons {
          font-weight: 50;
          grid-column: 1 / 6;
        }

        >div, > p, .hero-buttons{
          grid-column: 1 / 5;
        }

        p{
          font-size: 17px;
        }

        .highlight{
          font-weight: 600;
          font-style: italic;
        }

        h1 {
          font-family: $font-serif;
          font-size: 55px;
          line-height: 1.2;
          margin-bottom: 20px;
          font-weight: 100;
        }

        .hero-buttons {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        padding: 0;
        }
    }
}

.about {
  @include grid-12;
  padding: 100px 0;
  align-items: center;

  article {
    grid-column: 2 / 6;

    h2 {
      font-family: $font-serif;
      font-weight: 100;
      font-size: 36px;
      margin-bottom: 30px;
      
      @include linea-decoracion;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 1.4;
    }

    a{
      margin-top: 30px;
    }
  }

  aside {
    grid-column: 7 / 12;
    
    img {
      border-radius: 31px;
    }
  }
}

.services {
  background-color: $c-dark-blue;
  background-image: url('../assets/img/techo-cristal.jpg');
  background-repeat: no-repeat;
  color: $c-light-gray;
  padding: 100px 0;
  text-align: center;

  .services-contenido{
    @include grid-12();
  }

  h3 {
    grid-column: 3 / 11;
    font-family: $font-serif;
    font-weight: 100;
    font-size: 52px;
    margin-bottom: 20px;
  }

  p {
    grid-column: 4 / 10;
    font-size: 22px;
  }

  a.btn {
    grid-column: 5 / 9;
    justify-self: center;
  }
}


.team {
  @include grid-12;
  padding: 100px 0;
  align-items: start;

  h3{
    grid-column: 1 / 4;
    grid-row: 1;
    font-family: $font-serif;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 50px;

    @include linea-decoracion;
  }

  a.btn{
    grid-column: 1 / 5;
    grid-row: 2;
    justify-self: start;
  }

  p{
    grid-column: 1 / 4;
    font-size: 22px;
  }

  .team-members {
    background-color: $c-sky-blue;
    grid-column: 5 / 13;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    padding: 50px;
    border-radius: 25px;

    article {
      padding-bottom: 15px;
      
      h4 {
        font-family: $font-serif;
        font-size: 20px;
        font-weight: 100;
        margin: 15px 0 5px 0;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.testimonials{
  background-color: $c-dark-blue;
  color: $c-white;
  padding: 100px 0;

  .testimonials-grid {
    @include grid-12;

    h3 {
      grid-column: 1 / 5;
      font-family: $font-serif;
      font-size: 36px;
      margin-bottom: 50px;
      
      @include linea-decoracion;
    }

    .testimonials-container {
      grid-column: 1 / 15;
      display: grid;
      grid-template-columns: repeat(3, 1fr); // 3 columnas iguales
      gap: 180px;

      blockquote {
        background-color: $c-beige-bg;
        color: $c-text-main;
        padding: 30px;

        p {
          font-size: 15px;
          font-weight: 20;
          line-height: 1.6;
          margin-bottom: 20px;
        }

        span{
          font-weight: 100;
          font-size: 15;
        }
      }
    }
  }
}

.contact-form {
  @include grid-12;
  padding: 100px 0;

  .intro-text-wrapper {
    grid-column: 1 / 8;
    
    h3 {
      font-family: $font-serif;
      font-size: 36px;
      margin-bottom: 30px;
      
      @include linea-decoracion;
    }
    
    p {
      font-size: 18px;
    }
  }


  form {
    grid-column: 2 / 12;
    padding: 40px;
    border-radius: 4px;
    color: $c-blue-formulario;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .izquierda, .derecha {
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding: 5px 10px;
      align-items: center;
      background-color: $c-gray-formulario;

      label {
        min-width: 70px;
        white-space: nowrap;
        font-weight: 500;
      }

      input {
        flex: 1;
        width: auto;
        padding: 15px;
        border: none;
        background: $c-gray-formulario;
      }
    }

    .abajo {
      grid-column: 1 / -1;
      background-color: $c-gray-formulario;
      padding: 15px;
      
      display: flex;
      flex-direction: column; 
      gap: 10px;

      label {
        font-weight: 500;
        align-self: flex-start;
      }

      textarea {
        width: 100%;
        height: 120px;
        resize: none;
        border: none;
        padding: 15px;
        background: $c-gray-formulario;
        font-family: inherit;
      }
    }
    button {
      grid-column: 1 / -1;
      justify-self: end;
      
      border: none;
      margin-top: 10px;
      color: $c-white;
    }
  }
}

.location {
  @include grid-12;
  padding-bottom: 100px;

  h3 {
    grid-column: 1 / 5;
    grid-row: 1;

    font-family: $font-serif;
    font-weight: 20;
    font-size: 36px;
    margin-bottom: 20px;

    @include linea-decoracion;
  }

  p {
    grid-column: 1 / 5;
    grid-row: 2;

    font-size: 24px;
    margin-bottom: 20px;
  }

  .map {
    grid-column: 4 / 12;
    grid-row: 1/span 3;

    height: 400px;
    background-color: $c-beige-bg;
    
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

footer {
  background-color: $c-dark-blue;
  
  .footer-container{
    background-color: $c-dark-blue;
    color: $c-beige-bg;
    padding: 80px 0;
    
    @include grid-12;

    .footer-info {
      grid-column: 2 / 4;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .footer-nav {
      grid-column: 4 / 6;
      
      h4 { 
        text-transform: uppercase; 
        margin-bottom: 15px; 
      }
      ul li { 
        list-style-type: none;
        margin-bottom: 8px; 
      }
    }

    .footer-logo {
      grid-column: 6 / 9;
      
      display: flex;
      flex-direction: column;
      align-items: center;

      .social-media{ 
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap: 10px; 

        img{
          width: 30px;
          height: 30px;
        }
      }
    }

    .newsletter {
      grid-column: 10 / 12;

      input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid $c-white;
        background-color: $c-white;
        color: $c-white;
      }

      h4{
        font-weight: 100;
        font-size: 12px;
      }

      button{
        display: block; 
        width: 50%;
        padding: 10px 1px;
        border-radius: 20px;
        border: 1px solid $c-white;
        background: transparent;
        color: $c-white;
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
      }
    }
  }
}